<div class = "tall teal scrollable container">

<h1> <%= @wiki.markdown_title %></h1>
<p> <%= @wiki.markdown_body %></p>

<p> Created by: <%= @wiki.collaborations.first.user.name %> 

<p> Shared with:
 <% @wiki.collaborations.each do |c| %>

<div class = 'row'>

<% if c.user != @wiki.collaborations.first.user  %>

  <div class="col-md-4 col-md-offset-2"> 
     <%= c.user.name %>
  </div> 

  <div class="col-md-4">
    <% if current_user == @wiki.collaborations.first.user%>
    <%= link_to "Remove", wiki_collaboration_path(@wiki, c), method: :delete %>
    <% end %>
  </div>

<% end %> 

</div>


 <% end %>
</p>

</div>

